<div *ngIf="listadoCitas.length== 0" class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">No hay citas para mostrar</h5>
  </div>
</div>
<div *ngFor="let cita of listadoCitas" class="card mb-2">
  <div class="card-body">
    <p class="card-text"><span>Nombre: </span>{{cita.nombre}}</p>
    <p class="card-text"><span>Fecha: </span>{{cita.fecha}}</p>
    <p class="card-text"><span>Hora: </span>{{cita.hora}}</p>
    <p class="card-text"><span>Sintomas: </span>{{cita.sintomas}}</p>
    <button class="btn btn-danger btmn-block button-cita">Eliminar</button>
  </div>
</div>
